<!DOCTYPE html>
<html>
<head>
	 <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css ">
</head>
<body>
	<div class="container" ng-app='myApp' ng-controller="EmailCtrl">
		<ul class="nav nav-tabs">
			<li ng-class="{active: activeTab == 'inbox'}">
				<a ng-click="activeTab='inbox'">Inbox</a>
			</li>
			<li ng-class="{active: activeTab == 'sent'}">
				<a ng-click="activeTab='sent'">Sent</a></li>
		</ul>

		<!-- Inbox -->
		<table class="table table-bordered table-condensed" ng-show="activeTab=='inbox'">
			<tbody>
				<tr ng-repeat="email in emails" ng-click="showPopup(email)">
					<td>{{ email.from }}</td>
					<td>{{ email.subject }}</td>
					<td>{{ email.date }}</td>
				</tr>
			</tbody>
		</table>
			
		<!-- Sent -->
		<table class="table table-bordered table-condensed" ng-show="activeTab=='sent'">
			<tr ng-repeat="email in sentEmails" ng-click="showPopup(email)">
					<td>{{ email.to }}</td>
					<td>{{ email.subject }}</td>
					<td>{{ email.date | date:'MMM d' }}</td>
				</tr>
			</tbody>
		</table>

		<button class="btn btn-primary" ng-click="showComposePopup()">Compose</button>

		<div class="modal-dialog" ng-show="isPopupVisible">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" ng-click="closePopup()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="myModalLabel">{{selectedEmail.subject}}</h3>
      	</div>
					<div class="modal-body">
						<strong>From:</strong> {{selectedEmail.from}} <br />
						<strong>To:</strong> {{selectedEmail.to}} <br />
						<strong>Date:</strong> {{selectedEmail.date | date:'MMM d'}} <br />
						<br />
						<p>
							<span style="white-space:pre">{{selectedEmail.body}}</span>
						</p>
					</div>
					<div class="modal-footer">
						<a href="#" class="btn btn-default" ng-click="forward()">Forward</a>
						<a href="#" class="btn btn-default" ng-click="reply()">Reply</a>
						<a href="#" class="btn btn-primary" ng-click="closePopup()">Close</a>
					</div> 
				</div>
			</div>
		

		<div class="modal-dialog" ng-show="isComposePopupVisible">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" ng-click="closeComposePopup()"><span aria-hidden="true">&times;</span><span class="sr-only">x</span></button>
        <h3 class="modal-title" id="myModalLabel">Compose Email</h3>
      	</div>
					<div class="modal-body">
						<form>
							<input type="text" placeholder="To" style="width:95%;" ng-model="composeEmail.to"><br />
							<input type="text" placeholder="Subject" style="width:95%;" ng-model="composeEmail.subject"><br />
							<textarea style="width:95%;" rows="10" ng-model="composeEmail.body"></textarea>
						</form>
					</div>
					<div class="modal-footer">
						<a href="#" class="btn btn-default" ng-click="closeComposePopup()">Close</a>
						<a href="#" class="btn btn-primary" ng-click="sendEmail()">Send</a>
					</div> 
				</div>
			</div>
		
	</div>
	<script src="bower_components/angular/angular.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
</body>
</html>